<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Informe seu nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Informe seu email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Informe sua senha</ion-label>
    <ion-input [(ngModel)]="senha" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="cadastrar()">Registrar</ion-button>
</ion-content>
